@{
    ViewData["Title"] = "Анализ";

}

<div class="text-center">
    <h1>Анализ на текущи данни към:</h1>

    <div id="date"></div>
    <label class="col-md-2">Избери анализ:</label>
    <select class="col-md-4" id="chart-select">
        <option value=0>Изберете анализ</option>
        <option value=1>Активни / Хоспитализирани</option>
        <option value=2>Хоспитализирани / Интензивно отделение</option>
        <option value=3>Заразени / Тествани</option>
        <option value=4>Потвърден медицински персонал по тип общо</option>
        <option value=5>Потвърдени / Излекувани</option>
    </select>
    <hr />
    <div class="col-md-12 col-md-4">
        <div id="charts" style="width: 100%; height: 400px;"></div>
    </div>

</div>

@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="module" src="~/js/analysis.js"></script>
}

