@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Coronavirus Web Scraper</h1>
    <hr />
    <div id="text-paragraph" class="blue-mask">
        <p>
            Coronavirus Web Scraper е приложение, което периодично събира статистически данни свързани с разпространението, лечението
            и борбата с COVID-19. За целта, то извлича информация от Единния информационен портал за COVID-19 в България <a target="_blank" href="https://coronavirus.bg/">https://coronavirus.bg/</a>.
        </p>
    </div>
</div>
